@import 'describeblock';
@import 'filetree';
@import 'folderupload';
@import 'testbuilder';
@import 'testblock';
@import 'fileviewer';
@import 'maincontent';
@import 'itstatement';
@import 'expectstatement';
@import 'reuploaddirectory';
@import 'proploader';


$primary: #032539;
$secondary: #1c768f;
$fg: #FA991C;
$bg: #FBF3F2;

body {
  margin: 0;
  padding: 0;
  height:100vh;
  width: 100vw;
}
