.FileTree li a:hover{
  cursor: pointer; 
  text-decoration: underline;
}

.directory:hover {
  cursor: pointer;
}

.FileTree li {
  list-style-type: none;
}

.FileTree span img {
  width: 1rem;
  height: 1rem;
  margin-right:0.25rem;
}