$primary: #032539;
$secondary: #1c768f;
$fg: #FA991C;
$bg: #FBF3F2;

 div p {
  margin: 0;
}


.codeLine{
  display: flex; 
  flex-direction: row;
  
}

.codeLine pre{
  margin: 0
}

.codeBlock{
  padding-left: 5%;
}

.clearFile{
  float: right;
}

.remove {
  color: $bg;
  background: $fg;
  float: right;
  border-radius: 1.5em;
  border: none;
  padding: .10em .45em;
}

.buttonHolder{
  width:100%;
  height:5%;
}