$primary: #032539;
$secondary: #1c768f;
$fg: #FA991C;
$bg: #FBF3F2;

.frontheader {
  background: $primary;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpage {
  background: $bg;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.frontbody {
  width: 25vw;
  height: 25em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  .fronth2 {
    font-size: 32px;
    color: $primary;
    margin-bottom: 0;
  }
  .folderupload {
    color: $bg;
    font-size: 24px;
    border: none;
    border-radius: 5em;
    background-color: $fg;
    padding: .5em 1em
  }
}

.catalystlogo {
  width: 40em;
  height: auto;
}