$primary: #032539;
$secondary: #1c768f;
$fg: #FA991C;
$bg: #FBF3F2;

.main-content{
  height:100%;
}

.row {
  display: grid;
  grid-template-columns: 325px repeat(2, 1fr);
  grid-template-rows: 100%;
  width:100%;
  height: 90%;
  background: $bg;
  color: $primary;
  .left {
    overflow: auto;
    height:100%;
    border-right: 1px solid $secondary;
    h1 {
      text-align: center;
      font-size: 24px;
    }
  }
  .middle {
    overflow: auto;
    height:100%;
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
    padding: 0em 1.5em;
    min-width: 30em;
    h1 {
      text-align: center;
      font-size: 24px;

    }
  }
  .right {
    overflow: auto;
    height:100%;
    border-left: 1px solid $secondary;
    h1 {
      text-align: center;
      font-size: 24px;

    }
  }
}


