$primary: #032539;
$secondary: #1c768f;
$fg: #FA991C;
$bg: #FBF3F2;

.testBlock{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  background: $primary;
  box-shadow: 10px 15px orange;
  .catalysticon {
    width: 4.5em;
    height: 3em;
    margin-left: 1em;
  }
  .headerbar {
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: space-between;
    button {
      background: $primary;
      color:$bg;
      align-items: center;
      font-size: 24px;
      border: none;
      border-radius: 1.25em;
      padding: .25em .6em;
    }
    .headerlist {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-left: 0em;
      li {
        padding: 0em 1em;
        color: $bg;
        .generatetests {
          overflow: hidden;
          background: linear-gradient(to right, $fg, $fg 50%, $bg 50%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200% 100%;
          background-position: 100%;
          transition: background-position 275ms ease;
        }
        .generatetests:hover {
          background-position: 0 100%;
        }
      }
    }
    .iconlist {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin: 0em 1em;
      height: 36px;
      li {
        margin: 0em .5em;
        color: $bg;
        a, a:hover, a:focus {
          text-decoration: none;
          color: inherit;
          .fa-github {
            font-size: 32px;
          }
          .fa-globe-americas {
            font-size: 32px;
          }
          .fa-question-circle {
            font-size: 32px;
          }
        }
      }
    }
  }
}
