$primary: #032539;
$secondary: #1c768f;
$fg: #FA991C;
$bg: #FBF3F2;

.testBuilder {
  border: 1px solid $primary;
  background: $primary;
  border-radius: 3em;
  box-shadow: 2px 2px 12px $primary;
  .addtestbutton {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    .adddescribe {
      color: $primary;
      font-size: 20px;
      border: none;
      border-radius: 1em;
      padding: .25em .5em;
    }
  }
}