@import 'components/all';

$primary: #1c768f;
$secondary: #032539;
$fg: #FA991C;
$bg: #FBF3F2;


* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

button, select {
  outline: none;
}

